<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KiPKadryIPlace.DataAccessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <KiPKadryIPlace.DataAccessLayer.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>localhost\\SQLEXPRESS;</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>KiPKadryIPlaceDB;</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>sa;</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>root;</value>
      </setting>
    </KiPKadryIPlace.DataAccessLayer.Properties.Settings>
  </userSettings>
</configuration>